<div class="container mt-5">
    <h2 class="text-center text-light font-weight-bold">Create Investment</h2>
    
    <form action="/spco/investment" class="p-4 border rounded bg-light needs-validation" novalidate method="POST"
    enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-6">
                <!-- Name Field -->
                <div class="mb-3">
                    <label for="name" class="form-label">Investment Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter new property name" name="investment_name" required>
                    <div class="invalid-feedback">Please enter investment name.</div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Name Field -->
                <div class="mb-3">
                    <label for="name" class="form-label">Investment Amount (Unit price)</label>
                    <input type="number" name="investment_amount" class="form-control" id="name" placeholder="Enter unit investment price" required>
                    <div class="invalid-feedback">Please enter unit price</div>
                </div>
            </div>
        </div>
        <div class="row">  
            <div class="col-md-6">
                <!-- Name Field -->
                <div class="mb-3">
                    <label for="name" class="form-label">Expected Returns (ROI)</label>
                    <input type="number" name="expected_return" class="form-control" id="name" placeholder="Enter return on investment" required>
                    <div class="invalid-feedback">Please enter the returns on investment.</div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Name Field -->
                <div class="mb-3">
                    <label for="name" class="form-label">Investment Duration (Month)</label>
                    <input type="number" name="investment_duration" class="form-control" id="name" placeholder="Enter Duration" required>
                    <div class="invalid-feedback">Please enter investment duration</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Name Field -->
                <div class="mb-3">
                    <label for="message" class="form-label">Investment Details</label>
                    <textarea class="form-control" name="details" id="message" rows="4" placeholder="Write investment details..."
                        required></textarea>
                    <div class="invalid-feedback">Please enter the returns on investment.</div>
                </div>
            </div>
            <div class="col-md-6">

                <!-- Name Field -->
                <div class="mb-3">
                    <label for="message" class="form-label">Select Picture(s)</label>

                    <input type="file" name="picture" id="picture" maxlength="2" multiple accept=".jpeg, .png, .jpg"
                      class="form-control" required>
                    <div class="invalid-feedback">Please select one or more pictures.</div>
                  </div>
                <!-- Name Field -->
                <div class="mb-3">
                    <label for="role" class="form-label">Select Status</label>
                    <select class="form-select" id="role" required>
                        <option value="">Choose...</option>
                        <option value="active">Active</option>
                        <option value="closed">Closed</option>
                        <option value="pending">Pending</option>
                    </select>
                    <div class="invalid-feedback">Please select a status.</div>
                </div>
                <!-- Checkbox -->
               

            </div>
        </div>
        <div class="row">
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="terms" required>
                <label class="form-check-label" for="terms">
                    I have cross checked the details inputted .
                </label>
                <div class="invalid-feedback">Ensure every information is accurate.</div>
            </div>
        </div>


        <div class="text-center">
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-50">Submit</button>
        </div>

    </form>
</div>







<script>
    (() => {
        'use strict';
        const forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>