<div class="container mt-5 w-50">
    <h2 class="text-center text-light font-weight-bold">Create Investor</h2>
    
    <form action="/spco/investor" class="p-4 border rounded bg-light needs-validation" novalidate method="POST">

        <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name in full" name="property_name" required>
            <div class="invalid-feedback">Please enter investor's name in the correct order.</div>
        </div>

         <!-- Name Field -->
         <div class="mb-3">
            <label for="name" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="name" placeholder="Enter email address" name="property_name" required>
            <div class="invalid-feedback">Please enter email address.</div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="name" placeholder="Enter phone number" name="property_name" required>
            <div class="invalid-feedback">Please enter a functional phone number.</div>
        </div>
        <div class="mb-4">
            <label for="name" class="form-label">Whatsapp</label>
            <input type="number" class="form-control" id="name" placeholder="Enter whatsapp number" name="property_name" required>
            <div class="invalid-feedback">Please enter investor's whatsapp number</div>
        </div>


        <div class="text-center">
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-50">Submit</button>
        </div>

    </form>
</div>







<script>
    (() => {
        'use strict';
        const forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>