<div id="indeex mt-3">
  <div class="row mb-3 text-center">
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <a href="/spco/tenantz" class="btn btn-light">
        <div class="numbers p-4">
          <p class="text-sm mb-0 text-uppercase font-weight-bold">View</p>
          <h5 class="font-weight-bolder">
            All Tenants
          </h5>
          <p class="mb-0">
            <span class="text-success text-sm font-weight-bolder">Tenant </span>
            View
          </p>
        </div>
      </a>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <a href="/spco/admins" class="btn btn-light">
        <div class="numbers p-4">
          <p class="text-sm mb-0 text-uppercase font-weight-bold">Click To</p>
          <h5 class="font-weight-bolder">
            View Admins
          </h5>
          <p class="mb-0">
            <span class="text-danger text-sm font-weight-bolder">Click</span>
            View All
          </p>
        </div>
      </a>
    </div>
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <a href="/spco/investors" class="btn btn-light">
        <div class="numbers p-4">
          <p class="text-sm mb-0 text-uppercase font-weight-bold">View All</p>
          <h5 class="font-weight-bolder">Investors </h5>
          <p class="mb-0">
            <span class="text-success text-sm font-weight-bolder">Click</span>
            View All
          </p>
        </div>
      </a>
    </div>
  </div> <br /> <br>
  <div class="container">
    <div class="row mb-3">
      <div class="col-xl-4 col-sm-6 mb-xl-2 mb-4">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-3 text-end">
                <div class="icon icon-shape bg-gradient-info shadow-success text-center rounded-circle">
                  <i class="bi bi-person"></i>
                </div>
              </div>
              <div class="col-9">
                <div class="numbers">
                  <a href="/spco/create-staff">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Add New</p>
                    <h5 class="font-weight-bolder">
                      Staff
                    </h5>
                    <p class="mb-0">
                      <span class="text-danger text-sm font-weight-bolder">Staff</span>
                      With Admin function
                    </p>

                  </a>


                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 mb-xl-2 mb-4">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-3 text-end">
                <div class="icon icon-shape bg-gradient-danger shadow-success text-center rounded-circle">
                  <i class="bi bi-people"></i>
                </div>
              </div>
              <div class="col-9">
                <a href="/spco/create-investor">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Add New</p>
                    <h5 class="font-weight-bolder">
                      Investor
                    </h5>
                    <p class="mb-0">
                      <span class="text-danger text-sm font-weight-bolder">Create</span>
                      Investor Account
                    </p>
                  </div>

                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 mb-xl-2 mb-4">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-3 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow-success text-center rounded-circle">
                  <i class="bi bi-people"></i>
                </div>
              </div>
              <div class="col-9">
                <a href="/spco/create-tenant">
                  <div class="numbers">
                  <p class="text-sm mb-0 text-uppercase font-weight-bold">Add New</p>
                  <h5 class="font-weight-bolder">
                    Tenant
                  </h5>
                  <p class="mb-0">
                    <span class="text-danger text-sm font-weight-bolder">Create</span>
                    New Tenant
                  </p>
                </div>
                </a>
                
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>