<div class="card p-4">

    <div class="container p-5 text-center">

        <h2>Alert !!!</h2>
        <button class="btn btn-outline-danger p-3" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <b class="text-capitalize "><%- error %></b>
        </button>
        <p class="mt-5">Go Back To Continue</p>
    </div>

</div>